#bg {
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -5;
}

.shadow-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -4;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
    .shadow-overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

