.icon {
    width: 50px;
    height: 50px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: default;
    opacity: 0.75;
}

.nav-item:hover {
    opacity: 1;
}

.nav-item.current {
    opacity: 1;
}

.nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 3rem;
    gap: 1.525rem;
    left: 50%;
}

.nav-about {
    transform: translateX(-1.56rem);
}

.nav-projects {
    transform: translateX(-6.25rem);
}

.nav-skills {
    transform: translateX(-10.94rem);
}

.nav-contact {
    transform: translateX(-15.62rem);
}

a {
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .nav-about,
    .nav-projects,
    .nav-skills,
    .nav-contact {
        transform: translateX(0);
    }
    .nav {
        top: calc(100vh - 4rem);
        transform: translateX(-50%);
    }
    .nav-item {
        width: 2rem;
    }
    .icon {
        width: 2rem;
        height: 2rem;
    }
    .nav-item h3 {
        display: none;
    }
}
